@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@model CourseProject.ViewModels.LoginViewModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["LoginTitle"];
}
<h2>@Localizer["LoginTitle"]</h2>
<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]"/>
    <div class="form-group">
        <label for="email">@Localizer["LoginEmail"]</label>
        <input type="email" name="email" class="form-control" required/>
    </div>
    <div class="form-group">
        <label for="password">@Localizer["LoginPassword"]</label>
        <input type="password" name="password" class="form-control" required/>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" name="rememberMe"/> @Localizer["LoginRememberMe"]
        </label>
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["LoginButton"]</button>
</form>