@using Microsoft.Extensions.Localization
@using CourseProject.ViewModels
@model QuestionViewModel
@inject IStringLocalizer<SharedResources> Localizer

@{
    var localizedQuestionTypes = Enum.GetValues(typeof(QuestionType))
        .Cast<QuestionType>()
        .Select(qt => new SelectListItem
        {
            Value = ((int)qt).ToString(),
            Text = Localizer[qt.ToString()]
        })
        .ToList();
}

<div class="card mb-3">
    <div class="card-body">
        <form asp-action="EditQuestion" asp-controller="TemplateQuestions" method="post" id="edit-question-form">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="TemplateId"/>

            <div class="mb-3">
                <label asp-for="Title" class="form-label">@Localizer["Title"]</label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">@Localizer["Description"]</label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Type" class="form-label">@Localizer["Type"]</label>
                <select asp-for="Type" class="form-select" asp-items="localizedQuestionTypes">
                    <option disabled selected hidden value="">@Localizer["SelectType"]</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-check d-flex justify-content-center align-items-center mb-4">
                <input asp-for="IsVisibleInResults" class="form-check-input me-2" type="checkbox" id="visibleCheck"/>
                <label class="form-check-label mb-0" for="visibleCheck">
                    @Localizer["VisibleInResults"]
                </label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">@Localizer["Save"]</button>
            </div>
        </form>
    </div>
</div>