@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using CourseProject.ViewModels
@model FormResultViewModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["EditForm"];
}

<h2>@Localizer["EditForm"]: @Model.TemplateName</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="FormId" value="@Model.FormId" />
    @foreach (var answer in Model.Answers.OrderBy(a => a.QuestionId))
    {
        <div class="mb-3">
            <label class="form-label">@answer.QuestionTitle</label>
            <input class="form-control" name="answers[@answer.QuestionId]" value="@answer.Value"/>
        </div>
    }

    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
    <a asp-action="Index" asp-controller="Forms" class="btn btn-secondary">@Localizer["Cancel"]</a>
</form>